@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p> <h2>We are here to help you to find your desired job.</h2></p>

<p>
    <h3>
        We are providing job for jobseeker and employess..<br />
        You can register via both. <br />
        Send your nessasary details with us and get your <b>Job</b>.
    </h3>
</p>