@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <b>Namra Joshi </b><br />
    <b>Aditya Kaneriya </b><br />
    <br />
    <br />
    <abbr title="Phone">Phone :</abbr>
    7990134426, 9727556528
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:namrajoshi2303@gmail.com">help@doing.com</a><br />
    <strong>Support:</strong>   <a href="mailto:adityakaneriya1711@gmail.com">help@doing.com</a><br />
    
</address>